* {
    padding: 5px;
}

body {
    background-image: linear-gradient(to left, #505050, rgb(103, 103, 103));
}

main {
    /* the joker-card */
    background-color: green;
    width: 680px;
    margin: auto;
    margin-top: 10%;
      
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
}

.playingCard {
    min-width: 600px;
    min-height: 400px;
    background-color: red;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:
    'bannerLeft yeti bannerRight';
}

#bannerLeft {
    background-color: aqua;
    grid-area: bannerLeft;
}
#yeti {
    background-color: pink;
    grid-area: yeti;
}
#bannerRight {
    background-color:orange;
    grid-area: bannerRight;
}

h1 {
    font-family: "Open Sans";
    color: white;

}