* {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    list-style: none;
    --customLetterColor: #2C2C2B;
    --darkBlueTextColor: #3B455E;
    --customGradient: linear-gradient(180deg, #0168D3,#805082, #FE3730 );
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgba(152,215,248,1.0);
    text-decoration: none;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;
    font-size:48px;
    line-height: 110%;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--darkBlueTextColor);
    font-size:36px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
    font-size:20px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--darkBlueTextColor);
    font-size:28px;
}
li {
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    list-style: none;
}
button {
    width: 160px;
    height: 55px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: var(--darkBlueTextColor);
    border-radius: 10px;
    border-style: none;
    background-color: white;
    box-shadow: 0px 0px 2px 0px #fff;
    margin-top: 20px;
}
button:hover {
    transform: scale(1.03);
}
#header-img {
    height: 60px;
    width: auto;
    padding: 0px 0px 10px 100px
}
nav {
    width: 600px;
}
#ulCollection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
    padding:0px 200px 0px 10px;
}
#shopNow {
    color: white;
    background-color: transparent;
    border-style: solid;
}
main, body{
    margin: 0;
    padding: 0;
    min-width: 25em;
}
header {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index:2;
    background-color: #2B2C2B;
    opacity: 0.9;
}
#firstSectionWithHeader {
    background-image:linear-gradient(180deg, #0168D3,#805082, #FE3730 );
    min-height: 800px;
    padding-left: 200px;
    grid-column-gap: 0px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-areas:
    'header header' 
    'firstLeft firstRight';
    justify-content: center;
}
#sectionHeader {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color:var(--darkBlueTextColor);
    font-size:40px;
    text-align: center;
}
.sectionContent {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 300px;
}
#sectionShoe img {
    width: 130px;
}
#sectionShoe img:hover {
    transform: scale(1.1);
}
#features {
    display: grid;
    grid-column-gap: 50px;
    grid-template-areas:
    'sectionA sectionB sectionC'
    'sectionD sectionE sectionF';
    grid-template-columns: 30% 30% 30%;
    align-items: stretch;
    justify-content: space-between;
    /* padding: 100px 200px 100px 200px; */
}
#firstLeft{
    grid-area: firstLeft;
    align-self: center;
    text-align: left;
}
#firstRight{
    grid-area: firstRight;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
}
#sectionA{
    grid-area: sectionA;
    align-self: center;
    justify-self: center;
}
#sectionB{
    grid-area: sectionB;
    align-self: center;
    justify-self: center;
}
#sectionC{
    grid-area: sectionC;
    align-self: center;
    justify-self: center;
}
#sectionD{
    grid-area: sectionD;
    align-self: center;
    justify-self: center;
}
#sectionE{
    grid-area: sectionE;
    align-self: center;
    justify-self: center;
}
#sectionF{
    grid-area: sectionF;
    align-self: center;
    justify-self: center;
}
#productImage {
    width: 100%;
    margin:0;
    padding:0;
}
#orderForm {
    background-color: var(--darkBlueTextColor);
    background-image: linear-gradient(180deg, #0168D3,#805082, #FE3730 );
    background-size: cover;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}
#formCard {
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 6px;
    width: 60vw;
}
#formCardContent {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas: 
    'shoe contactForm';
    justify-content: center;
    align-items: center;
    grid-column-gap: 0px;
}
#shoe img{
    width: 130%;
    height: auto;
    grid-area: shoe;
    z-index: 1;
    margin-left:-120px;
    align-self: start;
}
Form {
    grid-area: contactForm;
    display: grid;
    padding: 0px;
    grid-template-columns: auto;
    grid-template-areas: 
    'Name Name'
    'Email Email'
    'shoeSize colorSelect'
    'next orderButton';
}
#name {
    grid-area: Name;
}
#email {
    grid-area: Email;
}
#shoeSize {
    grid-area: shoeSize;
    width: 90%;
}
#dropdownColor {
    grid-area: colorSelect;
}
#next {
    grid-area: next;
    padding-left: 10px;
    color: lightgray;
    font-size: 14px;
    font-style: italic;
}
#submit {
    margin-right: 10%;
    background-color: #80B3E9;
    border-style: none;
    color: white;
    grid-area: orderButton;
    justify-self: end;
}
footer {
    background-color: #2B2C2B;
}
#footerContent {
    color:white;
    padding: 20px;
}
input, select {
    padding:10px;
    margin: 10px;
    margin-right: 30px;
    display: block;
    border-radius: 6px;
    border-style: solid;
    text-indent: 20px;
    border-width: 1px;
}
input:focus {
    border-color: #3B455E;
}

#videoDiv {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#video {
    width: 80%;
}
#header-img {
    display: none;
}


@media (max-width: 60em) {
    #firstSectionWithHeader {
        grid-template-areas:
        'header' 
        'firstRight'
        'firstLeft';
        grid-template-columns:90%;
        padding: 150px 20px 50px 20px;
    }
    input, select {
        margin-right: 10px;
        text-indent: 5px;
    }
    #shoeSize {
        width: 80%;
    }
    Form {
    grid-template-areas: 
    'Name Name'
    'Email Email'
    'shoeSize colorSelect'
    '. orderButton'
    'next next';
    grid-template-columns: 50%;
    }
    #header-image {
        padding: 0px 0px 5px 10px
    }
    #ulCollection {
        padding-right: 20px;
        justify-content: space-around;
    }
    #shoe img{
        display: none;
     }
}

@media (max-width: 35em) {
    nav {
        width: 90%;
    }
    #features {
        grid-template-areas:
        'sectionA'
        'sectionB'
        'sectionC'
        'sectionD' 
        'sectionE' 
        'sectionF';
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
    }
    #formCard {
        width: 80vw;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        'contactForm';
        justify-content: center;
        align-items: flex-start;
        grid-column-gap: 0px;
    }
   
    button {
        width: 120px;
    }
<<<<<<< HEAD
    
    
=======
    #header-img {
        display: none;
    }
>>>>>>> After_fix
}